/* Kontaktseite spezifische Stile */
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 8px;
}

.contact-info, .contact-form {
    flex-basis: 45%; /* Nimmt bis zu 45% der Containerbreite ein, passt sich jedoch auf kleineren Bildschirmen an */
    margin: 10px;
}

.contact-info p, .contact-form h3 {
    text-align: left;
    color: #333;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group textarea {
    resize: vertical; /* Ermöglicht dem Benutzer, die Textbereichshöhe anzupassen */
}

button[type="submit"] {
    background-color: rgb(255, 102, 0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #bc6c36;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        align-items: center;
    }

    .contact-info, .contact-form {
        flex-basis: 100%;
    }
}
